
h1 {
    color: blue;
    font-family: Calibri;
}
h2 {
    color: blue;
    font-family: Calibri;
}
p {
    color: yellow;
    font-family: Calibri;
    font-size: 10pt;
    font

    padding: 10px;
    text-align: left;
}